
<div class="images"  >
    <ng-container *ngFor = "let image of imageBack;let i = index">
    <div class="image">
      <img  class="imageUser" [src] = 'image.src' (click) = "enlargedImages(foto); informationAboutErnlargeImage(foto)" alt=""  #foto/>
      <ng-container *ngIf = "imageLikeAuthorizateUser[i] === 0">
        <img class="like" (click)="like(like , i)" src="assets/likes.png" alt="" #like1>
      </ng-container>
    <ng-container *ngIf = "imageLikeAuthorizateUser[i] === 1">
      <img class="like" (click)="like(like , i)" src="assets/likeKr.png" alt="" #like2>
    </ng-container>
    </div>
  </ng-container>
  </div>

    <div
      [ngClass]="{
        popup: !enlargeVision,
        vision_on: enlargeVision
      }"
    >
      <div class="popup-content">
          <span class="close" (click)="invertEnlargeVision()">&times;</span>
        <div class="popup-body">
          <div>
            <img class = "enrlargedImage" [src]="enrlargedImage" alt="" #foto>
            <span class = "informationAboutEnlargeVision">
             <!----   <ng-container *ngIf = "informationAboutErnlageImage">
                  {{informationAboutErnlageImage.src}}
                </ng-container> -->
              <span class = "userNickname">Автор: {{user.nickname}}</span><span class = "numberOfLikes">{{informationAboutLikes}}
              </span>
              <img class="likeEnlargeVision" src="assets/likeKr.png" alt="" >
            </span>
        </div>
      </div>
    </div>
