<link
href="https://fonts.googleapis.com/css?family=Lato&display=swap"
rel="stylesheet"
/>
<div class="userInformation">
  <!--{{authorizateUser.nickname}}-->
  <img class = "avatar" src="assets/defaultAvatarUser.png" alt="">
 <span class = "nickname">admin
  <img class = "icons" (click)="invertInformationVision()" src="assets/settings.png" alt=""><img>
  <img class = "iconInformation" src="assets/informationAboutUserPhoto.png" (click)="invertVisionInformation()" alt="">
</span>
</div>



<!--Тут нужно добавить вывод фотографий пользователя на сайте -->

<div class="images"  >
    <ng-container *ngFor = "let image of userImage;let i = index">
    <div class="image">
      <img class="imageUser" [src] = 'userImage[i]'  alt="" />
      <ng-container *ngIf = "imageLikeAuthorizateUser[i] === 0">
        <img class="like"  src="assets/likes.png" alt="" >
      </ng-container>
    <ng-container *ngIf = "imageLikeAuthorizateUser[i] === 1">
      <img class="like"  src="assets/newLike.png" alt="" >
    </ng-container>
    </div>
  </ng-container>
  </div>

<!--Попап для изменения информации о пользователе -->
<div
[ngClass]="{
  popup: !informationVision,
  vision_on: informationVision
}"
>
<div class="popup-content">
    <span class="close" (click)="invertInformationVision()">&times;</span>
  <div class="popup-body">
    <form [formGroup] = "informationUser">
    <div class="informationUser">
    <div class = "namePerson">
      <div class="field">
      <span class = "placeOn">Имя</span>
      <input type="text" placeholder="" id = 'firstName' class= "inputs" formControlName="name"  />
    </div>
    <div class="field">
      <span class = "placeOn">Фамилия</span>
      <input type="text" placeholder="" id = 'firstName' class= "inputs" formControlName="surname"  />
    </div>
    </div>
    <div class="emailPerson">
      <span class = "placeOnEmail">Email</span>
      <input type="text" placeholder="" id = 'firstName' class= "inputsEmail" formControlName="mail"  />
    </div>
    <div class = "nicknameInformation">
      <div class="field">
      <span class = "placeOn">Никнейм</span>
      <input type="text" placeholder="" id = 'firstName' class= "inputs" formControlName="nickname"  />
    </div>
    <div class="field">
      <span class = "placeOn">Пароль</span>
      <input type="text" placeholder="" id = 'firstName' class= "inputs" formControlName="password"  />
    </div>
    </div>
  </div>
</form>
  </div>
  <input class = "button" (click)="changeUserInformation()" type="button" value="Изменить">
  <input type="button" value="Удалить" class = "button" id = "delete" (click)="invertInformationVisionDelete()">
</div>
</div>

<!--Попап с ошибкой изменения данных-->

<div class="popupError" [ngClass]="{
  'popupError': !popupVisionError,
  'vision_onError': popupVisionError
  }">
  <div class = "popup-contentError" id = 'popupError'>
  <div class="popup-headerError" id = 'popupErrorHeader'>
    <h3>Ошибка</h3>
    <span class = "closeError" (click)="invertPopupError()">&times;</span>
  </div>
            <div class="popup-bodyError">
        <div>
        <div *ngIf = "!informationUser.valid">
            {{informationUser.errors.GroupAddValidator.error1}}
        </div>
      </div>
      </div>
      </div>
      </div>




  <!-------------------------------------------------------------------->

  <div
[ngClass]="{
  popup: !informationVisionDelete,
  vision_on: informationVisionDelete
}"
>
<div class="popup-contentDelete">
    <span class="close" (click)="invertInformationVisionDelete()">&times;</span>
  <div class="popup-body">
    Вы действительно хотите удалить пользователя?
  </div>
  <input class = "buttonDelete" (click)="deleteUser()" type="button" value="Да">
  <input type="button" value="Нет" class = "buttonDelete" id = "deleteNo" (click)="invertInformationVisionDelete()">
</div>
</div>


<div
[ngClass]="{
  popup: !visionInformation,
  vision_on: visionInformation
}"
>
<div class="popup-contentInformation">
    <span class="close" (click)="invertVisionInformation()" >&times;</span>
  <div class="popup-body">
    <span class = "informationHeader">Заполните дополнительную информацию о пользователе</span>
    <div class = "userInterests">
    <span class = "userInterests">Ваши интересы как фотографа: </span>
    <textarea class = "inputInterests" [(ngModel)] = "contentUserInterests1"></textarea>
    </div>
    <div class = "userInterests">
      <span class = "userInterests">Интересы помимо фотографии:  </span>
      <textarea class = "inputInterests" [(ngModel)] = "contentUserInterests2"></textarea>
      </div>
  </div>
  <input class = "buttonInformation" (click)="sendInformation()"  type="button" value="Отправить">
</div>
</div>

